*{
    margin:0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
}

body {
    background-image: url("img/fondo.png");
    background-repeat:repeat;
    font-size: 20px;
}

h1{
    padding-top: 20px;
}

.navbar-nav {
    background-color: rgb(228, 228, 228);
    float:none;
    text-align: center;
}

#navbarNav{
    background-color: #00020c;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

a:hover {
    background-color: #9b9b9b;
}

.carousel-inner{
    max-height: 45rem;
}

.container-video{
    padding-bottom: 10px;
} 

ul {
    list-style: none;
}
.galeria_img{
    display: block;
    max-width: 100%;
}
.galeria{
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.galeria_item{
    width: 80%;
    cursor: pointer;
    margin: 5px;
}



/*media query para que cambie a partir de:*/

@media(min-width:480px){


    body{
        background-color: rgb(255, 255, 255);
    }

    .galeria_item{
        width: 48%;
        margin: 5px;
    }
}




@media(min-width:768px){
    .galeria_item{
        width: 33%;
        margin: 5px;
    }
}




@media(min-width:1024px){
    .galeria_item{
        width: 20%;
        margin: 5px;
    }
}




.modal{
    position: fixed;
    width: 100%;
    height: 100vh; 
    background:rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_img{
    width: 70%;
    max-width:550px;

}
.modal_boton{
    width: 50px;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-family: monospace;
    text-align: center;
    background: red;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

footer{
    padding: 40px;
    background-color: #2b2d35af;
    color: #ffffff;
}

.textoFooter{
    color: #ffffff86;
}
.contenedor{
    width:85%;
    max-width: 1000px;
    padding: 1em ;
    margin: 2em auto;
    text-align: center;
    background-color: rgb(228, 228, 228);
    flex: auto;
}

article{
    background-color: #cbceff;
}

.texto-izq{
    text-align: left;
}

#sectionPerfilJuan {
    display: flex;
}

.fotoPerfil {
    width:85%;
    max-width: 300px;
    padding-bottom: 20px;
}

.redesSociales {
    color:white;
    text-decoration: none;
    background-color: #ffffff00;
}

.fotosGaleria {
    width:85%;
    max-width: 350px;
    padding: 10px;
    padding-bottom: 50px;
    background-color: rgb(245, 245, 245);
}

.fotosRedes{
    width:85%;
    max-width: 50px;
    padding: 5px;
    background-color: rgb(228, 228, 228);
}

.imagenes{
	width: 200px;
}

.instrucciones{
	text-align: left;
    font-size: large;
    padding: 1em;
}

.contenedorVideo{
    width:90%;
    max-width: 500px;
    padding-top: 1em ;
    padding-bottom: 1em ;
    flex: auto;
}

.boton{
	width: 200px;
	height: 50px;
	margin: 10px;
}

.statement{
    text-align: justify;
    font-size: medium;
    padding-left: 2em;
    padding-right: 2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.letraChica{
    font-size: 12px;
}